doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Antifantwerp

        link(rel="stylesheet", href="/stylesheet.css")

        meta(property="og:title" content=title)
        meta(property="og:url" content="https://antifantwerp.neonpastel.net/")
        if description
            meta(property="og:description" content=description)
        else
            meta(property="og:description" content="A small puddle of information for being anti-fascist in Antwerp. Information about stickers to (not) look out for, or organisations to lend aid to!")
        meta(property="og:image" content="https://antifantwerp.neonpastel.net/assets/stolen-from-anarchistbookfairamsterdam-sorry-ill-replace-it-later.png")
        meta(property="og:image:alt" content="An antifa logo: a white circle with a black border. Within the circle is a black flag on the front, and left-below-behind it a red one. The top of the circle says Antifa, the bottom says Antwerpen")
        meta(property="og:site_name" content="Antifantwerp")

        if stylesheet
            link(rel="stylesheet", href=stylesheet)


    body
        header 
            a(href="#main").skip-link Skip to main content
            nav 
                ul
                    each page in collections.page
                        a(href=page.url)
                            li=page.data.title
        
        | !{content}
        