.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link {
    float: left;
    position: absolute;
    left: -10000px;
    top: auto;
    overflow: hidden;
    //background-color: $base;
    padding: 5px;

    &:focus {
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
    }
}