@import "style/fonts";
@import "style/accessibility";
@import "style/nav";

body {
    font-family: "OpenDyslexic", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

main {
    width: 80%;
    @media (max-width: 600px) {
        width: 95%;
    }
    margin: auto;
}
